body {
    background-color: #E8F9FD;
}
h1{
    color: #2155CD;
}
h2{
    color: #2155CD;
}
h3 {
    color: #2155CD;
}
img:hover {
    background-color: gold;
}
hr {
    border: none;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}

